/* Amazing  */
.amazing {
  padding-top: 50px;

  @include breakpoint(xl) {
    padding-top: 58px;
  }
  &__card {
    margin: 0 15px;
    display: flex;
    margin-bottom: 70px;
    margin-top: 70px;
    @include breakpoint(md) {
      margin-bottom: 40px;
      margin-top: 0px;
    }
  }
  
  
  
  &__card-img {
    width: 55px;
    height: 55px;
    flex-shrink: 0;
    align-self: flex-start;
  }
  
  &__info {
    margin-left: 30px;
  }
  
  &__card-name {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--black);
    padding: 15px 0;
  }
  
  &__card-desc {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: var(--black);
  }
  
}

